/* ELEMENT STYLES */

a{
    color:black;
}

 a:hover{
    color:black;
     text-transform: none;
}
 h2{
     font-weight: bold;
 }

 label{
     font-weight:bold;
 }

/*CLASS STYLES*/

.card {
    width: 90%;
    margin-top: 30px;
    padding-top: 30px;
}

.alert {
    margin-top: 32px;
}

.label {
    font-weight: 700;
}
.navbar {
    height: 3em;
    border-bottom: 1px solid darkgray;
    background-color: lightgray;

}

.form-check-label {
    font-weight: 400;
    padding-right: 15px;
    margin-left: 12px;
}

.form-check-input {
    margin-left: 5px;
}

/*STYLES BY ID*/
#gender {
    position: relative;
    left: 0;
}

#mainBody {
    margin-bottom: 20px;
    padding: 20px 25px;
    height: auto;
}

#column2 {
    height: 426px;
}

#buttonSection {
    height: 50%;
}

#formBody {
    min-height: 100%;
}

#female {
    padding-left: 2em;
}

#contactMeButton.home-btn {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    width: 12rem;
    height: 3.5rem;
    background-color: rgb(0, 68, 137);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#profilePic{
    max-width:100%;
    max-height:100%;
}